<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod provident nobis ipsum odio, mollitia natus accusantium. Alias consectetur nostrum asperiores quia culpa explicabo, delectus est sint magni dolorem doloremque veniam recusandae. Ut, dolore. Obcaecati sapiente iusto molestias impedit possimus quo natus, ab officiis perferendis culpa repe
            llat recusandae explicabo quia corrupti?</p>
    </div>

</div>