<div class="jumbotron mt-4">
    <h1 class="display-4">Aplicación de notas</h1>
    <p class="lead">Programado en Node.JS y MongoDB</p>
    <hr class="my-4">
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima atque animi dolores, tenetur dolor ea alias laboriosam perferendis aliquid,
         error exercitationem quaerat praesentium. Laudantium ipsa cumque rem iste velit in!</p>
    <a href="https://github.com/PabloGAZ" class="btn btn-primary btn-lg">Github PabloGAZ</a>
</div>
