<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
            <h1>Iniciar sesión</h1> 
            </div>
                  <div class="col-md-7 mx-auto">
             <img src="/img/logo.png" class="rounded-circle mx-auto d-block m-4 logo img-thumbnail" alt="Logo">
              </div>

        <div class="card-body">
            <form action="/users/login" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" autofocus required placeholder="Introduzca su email">
                </div>
                 <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" autofocus required placeholder="Introduzca su contraseña">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" >Entrar</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>